@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-active {
  color: white;
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

.timeline-container {
  width: 100%;
}

.timeline-item {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.timeline-item.active .timeline-marker {
  background-color: #6b46c1;
}

.timeline-marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d1d5db;
  margin: 0 auto;
}

.timeline-date,
.timeline-title {
  margin-top: 8px;
  color: #d1d5db;
}

.timeline-item.active .timeline-date,
.timeline-item.active .timeline-title {
  color: #ffffff;
}

.timeline-content {
  max-width: 800px;
  margin: 0 auto;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

p, a, li {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}

